aws_access_key_id: YOU-SECRET-KEY-ID-HERE
aws_secret_access_key: YOU-SECRET-ACCESS-KEY-HERE
aws_keypair_name: YOUR-AWS-KEY-PAIR-NAME-HERE
aws_private_key_path: YOUR-PRIVATE-KEY-PATH-HERE
aws_elastic_ip: DESIRED-ELASTIC-KEY-IP-HERE
